<!--
  Generated template for the RoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Room</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-fab *ngIf="isOwner" top right edge>
        <button ion-fab color="vibrant" mini (click)="newGame()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  <button ion-button round (click)="changePoint(1)" [disabled]="players[(room | async)?.playerReview]?.email !== user">1</button>
  <button ion-button round (click)="changePoint(2)" [disabled]="players[(room | async)?.playerReview]?.email !== user">2</button>
  <button ion-button round (click)="changePoint(3)" [disabled]="players[(room | async)?.playerReview]?.email !== user">3</button>
  <button ion-button round (click)="changePoint(4)" [disabled]="players[(room | async)?.playerReview]?.email !== user">4</button>
  <button ion-button round (click)="changePoint(5)" [disabled]="players[(room | async)?.playerReview]?.email !== user">5</button>
  <button ion-button round (click)="changePoint(6)" [disabled]="players[(room | async)?.playerReview]?.email !== user">6</button>
  <button ion-button round (click)="changePoint(7)" [disabled]="players[(room | async)?.playerReview]?.email !== user">7</button>
  <button ion-button round (click)="changePoint(8)" [disabled]="players[(room | async)?.playerReview]?.email !== user">8</button>
  <button ion-button round (click)="changePoint(9)" [disabled]="players[(room | async)?.playerReview]?.email !== user">9</button>
  <button ion-button round (click)="changePoint(10)" [disabled]="players[(room | async)?.playerReview]?.email !== user">10</button>
  <button ion-button round (click)="changePoint(11)" [disabled]="players[(room | async)?.playerReview]?.email !== user">11</button>
  <button ion-button round (click)="changePoint(12)" [disabled]="players[(room | async)?.playerReview]?.email !== user">12</button>
  <button ion-button round (click)="changePoint(13)" [disabled]="players[(room | async)?.playerReview]?.email !== user">13</button>
  <button ion-button round (click)="changePoint(14)" [disabled]="players[(room | async)?.playerReview]?.email !== user">14</button>
  <button ion-button round (click)="changePoint(15)" [disabled]="players[(room | async)?.playerReview]?.email !== user">15</button>
  <button ion-button round (click)="changePoint(16)" [disabled]="players[(room | async)?.playerReview]?.email !== user">16</button>
  <button ion-button round (click)="changePoint(17)" [disabled]="players[(room | async)?.playerReview]?.email !== user">17</button>
  <button ion-button round (click)="changePoint(18)" [disabled]="players[(room | async)?.playerReview]?.email !== user">18</button>
  <button ion-button round (click)="changePoint(19)" [disabled]="players[(room | async)?.playerReview]?.email !== user">19</button>
  <button ion-button round (click)="changePoint(20)" [disabled]="players[(room | async)?.playerReview]?.email !== user">20</button>
  <button ion-button round (click)="changePoint(25)" [disabled]="players[(room | async)?.playerReview]?.email !== user">25</button>
  <button ion-button round (click)="changePoint(50)" [disabled]="players[(room | async)?.playerReview]?.email !== user">50</button>
  <hr>
  <div *ngIf="players[(room | async)?.playerReview]?.email === user">
    Dotychczas: <span *ngFor="let p of tmpPoint">{{p}}, </span> <br>
  </div>



  <ion-list>
    <ion-item *ngFor="let player of (room | async)?.players">
      <ion-avatar item-start>
        <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/unknown2-128.png">
      </ion-avatar>
      <h2>{{player.email}}</h2>
      <p>Ilość punktów: {{player.score}}</p>
      <button *ngIf="isOwner" ion-button clear item-end small (click)="deletePlayer(player.email)">Usuń</button>
    </ion-item>
  </ion-list>

    <ion-fab right bottom *ngIf="players[(room | async)?.playerReview]?.email === user">
        <button ion-fab color="light"  (click)="confirmPoint()"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Gra: {{players[(room | async)?.playerPointer]?.email}}</ion-title>
  </ion-toolbar>
</ion-footer>

